* {
  margin: 0;
  padding: 0;
}

html {
  background: #000;
}

body {
  /* Définir le dégradé initial et le faire bouger */
  background: linear-gradient(
    45deg,
    #ff0000,
    #008000,
    #ffd700,
    #ff0000,
    #008000,
    #ffd700
  );
  background-size: 200% 200%;
  animation: backgroundAnimation 15s ease infinite;

  /* Styles supplémentaires pour le body */
  margin: 0;
}

@font-face {
  font-family: "Santa";
  src: url("fonts/ChristmasMiracle.ttf") format("truetype");
}

/* html,
body
{
    overflow: hidden;
} */

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: "Santa";
  color: #ffeded;
  font-size: 3vw;
  padding-left: 10%;
  padding-right: 10%;
}

section:nth-child(odd) {
  justify-content: flex-end;
}
